body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #03010f;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1160px;
  margin: 0px auto;
}

a {
  color: #f5f5f5;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
}
._container {
}

.header__menu {
}
.menu {
  width: 100%;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  justify-content: center;
}

.menu__item {
  margin: 0px 35px 0px 0px;
  font-weight: 400;
}
.menu__item_last {
  margin: 0px 0px 0px 0px;
  font-weight: 400;
}

/*--Main--*/
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  padding: 50px 0px 0px 0px;
  z-index: 1;
}
.main-block__boxing {
  display: flex;
  justify-content: space-between;
}
.ai-block__boxing {
  display: flex;
  justify-content: space-between;
}
.main-block__right-part {
  padding-top: 65px;
}
.profile-block__left-part {
  padding-top: 65px;
}
.profile-block__right-part {
  padding-top: 145px;
}
.profile {
  font-size: 32px;
}
.res {
  font-size: 20px;
  font-weight: 500;
}
.info {
  margin-top: 50px;
  font-size: 20px;
}
.info2 {
  height: 200px;
  margin-top: 50px;
  font-size: 20px;
  overflow-y: hidden;
}
.date-res {
  margin-bottom: 10px;
}
.fname {
  margin-top: 20px;
}
.email {
  margin-top: 20px;
}
.sub {
  margin-top: 20px;
  margin-bottom: 20px;
}
.edit {
  font-weight: 500;
  color: #36ceef;
}
.ai-block__right-part {
  padding-top: 65px;
}
.diagnostics-result {
  font-size: 20px;
}
.result {
  vertical-align: bottom;
  font-size: 16px;
  margin-top: 20px;
}
.main-block__left-part {
}
._container {
}
.main-block__title {
  display: flex;
  font-size: 60px;
  letter-spacing: 5px;
  line-height: 120%;
  margin-bottom: 55px;
  text-align: right;
  justify-content: flex-end;
  font-weight: 400;
}
.main-block__buttons {
  display: block;
}
.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: #f5f5f5;
  border: 1px solid;
  color: #f5f5f5;
  padding: 13px 80px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
}
.main-block__text {
  position: absolute;
  left: 575px;
  bottom: 10px;
  padding-top: 50px;
  font-weight: 200;
  font-size: 20px;
}
.main-block__image {
}
/* AI */
.ai-block {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.ai-form-title {
  font-size: 20px;
  font-weight: 500;
}
.ai-text1 {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}
.ai-text2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}
.ai-text3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: underline;
  margin-bottom: 50px;
}
.free {
  font-weight: 600;
}
.input-file {
  position: relative;
}
.input-file-row {
  display: inline-block;
}
.input-file span {
  position: relative;

  cursor: pointer;

  vertical-align: middle;

  border-color: #f5f5f5;
  border: 1px solid;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 8px 48px;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 300;
}
.input-file span:hover {
  color: #36ceef;
}
.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
/* Список c превью */
.input-file-list {
  padding: 10px 0;
}
.input-file-list-item {
  display: inline-block;
  margin: 0 15px 15px;
  width: 150px;
  vertical-align: top;
  position: relative;
}
.input-file-list-item img {
  width: 150px;
}
.input-file-list-name {
  text-align: center;
  margin-top: 10px;
  display: block;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.input-file-list-remove {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 5px;
  right: 5px;

  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
}
/* Authorization */
.reg-block__right-part {
  padding-top: 50px;
}
.page__reg-form-container {
  background-color: rgba(54, 206, 239, 0.03);
  width: 330px;
  position: relative;
  margin: 40px 0px 0px 0px;
  border-radius: 10px;
  border: #f5f5f5 solid 1px;
  border-color: #f5f5f5;
  padding: 30px 42px;
  animation-name: Opacity;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes Opacity {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
.form-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.form-title-name {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.price {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.text-1 {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.text-2 {
  margin-bottom: 140px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.form-fields {
}
.form-field {
}
.form-boxing {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.form-important {
  font-size: 10px;
  margin-top: 10px;
  font-weight: 300;
}
input {
  width: 100%;
  height: 32px;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 18px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.3);
  line-height: 142%;
  background: rgba(217, 217, 217, 0.1);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
}
input:focus {
  outline: none;
  border: 1px solid #666;
}
.form-description {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 18px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.3);
  line-height: 142%;
  background: rgba(217, 217, 217, 0.1);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.description {
  margin-top: 10px;
}
.form-text {
  font-size: 14px;
  padding-bottom: 10px;
}
.form-buttons {
}
.f-button {
  border-color: #f5f5f5;
  border: 1px solid;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  /* padding: 8px 48px; */
  padding: 0px 48px;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 300;
}
.f-button-1 {
  border-color: #f5f5f5;
  border: 1px solid;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 8px 48px;

  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 300;
}
.pleaseWait {
  font-weight: 500;
}
.f-button-2 {
  background-color: #fe2c2d;
  filter: drop-shadow(10px 10px 20px rgba(254, 44, 45, 0.35));
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 8px 48px;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 400;
}
.f-button:hover {
  border-color: #36ceef;
  color: #36ceef;
}
.simple-text {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  font-weight: 300;
}
.create-acc-text {
  text-decoration: underline;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 5px;
  font-weight: 300;
}
